body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:878px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:36px;
  width:232px;
  height:227px;
  display:flex;
}
#u1175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:2px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:86px;
  width:232px;
  height:1px;
  display:flex;
}
#u1176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:55px;
  width:90px;
  height:24px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1177 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1177_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:97px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:111px;
  width:2px;
  height:94px;
  display:flex;
}
#u1179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:104px;
  width:12px;
  height:12px;
  display:flex;
}
#u1180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:152px;
  width:12px;
  height:12px;
  display:flex;
}
#u1181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:199px;
  width:12px;
  height:12px;
  display:flex;
}
#u1182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#303133;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:104px;
  width:52px;
  height:15px;
  display:flex;
  color:#303133;
}
#u1183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:122px;
  width:66px;
  height:15px;
  display:flex;
  color:#909399;
}
#u1184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#303133;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:152px;
  width:52px;
  height:15px;
  display:flex;
  color:#303133;
}
#u1185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1185_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:170px;
  width:67px;
  height:15px;
  display:flex;
  color:#909399;
}
#u1186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1186_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#303133;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:199px;
  width:78px;
  height:15px;
  display:flex;
  color:#303133;
}
#u1187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:217px;
  width:73px;
  height:15px;
  display:flex;
  color:#909399;
}
#u1188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1188_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:227px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:299px;
  width:232px;
  height:227px;
  display:flex;
}
#u1190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:2px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:349px;
  width:232px;
  height:1px;
  display:flex;
}
#u1191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:318px;
  width:144px;
  height:24px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1192_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:97px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:379px;
  width:2px;
  height:94px;
  display:flex;
}
#u1194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:372px;
  width:12px;
  height:12px;
  display:flex;
}
#u1195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:420px;
  width:12px;
  height:12px;
  display:flex;
}
#u1196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:467px;
  width:12px;
  height:12px;
  display:flex;
}
#u1197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#303133;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:372px;
  width:52px;
  height:15px;
  display:flex;
  color:#303133;
}
#u1198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1198_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:390px;
  width:102px;
  height:15px;
  display:flex;
  color:#909399;
}
#u1199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1199_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#303133;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:420px;
  width:52px;
  height:15px;
  display:flex;
  color:#303133;
}
#u1200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1200_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:438px;
  width:103px;
  height:15px;
  display:flex;
  color:#909399;
}
#u1201 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1201_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#303133;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:467px;
  width:78px;
  height:15px;
  display:flex;
  color:#303133;
}
#u1202 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1202_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:485px;
  width:109px;
  height:15px;
  display:flex;
  color:#909399;
}
#u1203 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1203_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:842px;
  height:591px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:562px;
  width:842px;
  height:591px;
  display:flex;
}
#u1205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:2px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:692px;
  width:842px;
  height:1px;
  display:flex;
}
#u1206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:581px;
  width:144px;
  height:24px;
  display:flex;
  font-family:'Nunito Sans';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1207 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1207_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:343px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:631px;
  width:2px;
  height:340px;
  display:flex;
}
#u1209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:624px;
  width:12px;
  height:12px;
  display:flex;
}
#u1210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:795px;
  width:12px;
  height:12px;
  display:flex;
}
#u1211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:963px;
  width:12px;
  height:12px;
  display:flex;
}
#u1212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:624px;
  width:58px;
  height:15px;
  display:flex;
  color:#909399;
}
#u1213 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1213_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:647px;
  width:750px;
  height:132px;
  display:flex;
}
#u1214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#303133;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:678px;
  width:98px;
  height:15px;
  display:flex;
  color:#303133;
}
#u1215 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1215_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:725px;
  width:180px;
  height:15px;
  display:flex;
  color:#909399;
}
#u1216 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1216_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:794px;
  width:58px;
  height:15px;
  display:flex;
  color:#909399;
}
#u1217 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1217_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:819px;
  width:750px;
  height:132px;
  display:flex;
}
#u1218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#303133;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:850px;
  width:98px;
  height:15px;
  display:flex;
  color:#303133;
}
#u1219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1219_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:897px;
  width:180px;
  height:15px;
  display:flex;
  color:#909399;
}
#u1220 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1220_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:963px;
  width:58px;
  height:15px;
  display:flex;
  color:#909399;
}
#u1221 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1221_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 238, 245, 1);
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(238, 238, 238, 0.349019607843137);
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:988px;
  width:750px;
  height:132px;
  display:flex;
}
#u1222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#303133;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1019px;
  width:98px;
  height:15px;
  display:flex;
  color:#303133;
}
#u1223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#909399;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1066px;
  width:180px;
  height:15px;
  display:flex;
  color:#909399;
}
#u1224 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1224_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1236px;
  width:200px;
  height:1px;
  display:flex;
}
#u1225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
